<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan department">
  <test thread-count="5" name="Personal Loan">
    <classes>
      <class name="CH16_TestNG.runTestCaseWithoutJavaCompiler">
      <methods>
<!--      		include only Demo method to show only Demo test case-->
      	<include name="Demo"></include>
      </methods>
      		
      </class>
      <class name="CH16_TestNG.day2"></class>
      <class name="CH16_TestNG.day4"></class>
    </classes>
  </test> 
   
  <test name="Car Loan">
  	<classes>
  		<class name="CH16_TestNG.day3">
  			<methods>
  			<!--      		Exclude only mobileLogInCarLoan method  not to show  mobileLogInCarLoan test case-->

  				<exclude name="mobileLogInCarLoan"></exclude>
  			</methods>
  		</class>
  	</classes>
  </test>
</suite> 
